{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row">

		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">

			<!-- Blog posts-->
			{% if notes %}
				{% for note in notes %}
					<div class="blog-post-container">
						{% include 'notes/snippets/notes_snippet.html' with notes=note %}
					</div>
				{% endfor %}
			{% else %}
				<div class="blog-post-container">
					{% include 'notes/snippets/notes_snippet.html' with query=query %}
				</div>
			{% endif %}
			<!-- End Blog posts-->
			
			<!-- Pagination -->
			{% include 'notes/snippets/notes_pagination.html' with notes=notes %}

		</div>
		<!-- end blog feed -->



		<!-- Right 'create post' column  -->
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">

			<div class="card create-post-bar d-flex flex-column p-3">

				<p class="lead">Simple app with user registration and CRUD functionality.</p>
				<p class="m-auto"><a class="btn btn-primary" href="{% url 'note_create' %}">Create note</a></p>
			</div>
		
		</div>
		<!-- end Right 'create post' column  -->

	</div>
</div>

{% endblock content %}